/*==  PROPIEDADES QUE SE REPITEN ==*/
/* ========== IGUALES 1 ========== */
.row {
  margin: 0;
}

.suscripcion ::placeholder,
.footer ::placeholder {
  padding-left: 15px;
}

.bienvenida, 
.historia,
.misionVision {
  padding: 6rem 2rem;
}

.bienvenida__titulo,
.suscripcion__titulo,
.clientes__titulo,
.historia__titulo,
.misionVision__titulo,
.contacto__titulo {
  font-family: $fuente-secundario;
  font-size: $fuente-titulo;
  margin-bottom: 30px;
  font-weight: $fuente-700;
}

.historia__titulo,
.misionVision__titulo {
  margin-top: 30px;
}

.bienvenida__parrafo,
.historia__parrafo,
.misionVision__parrafo,
.contacto__parrafo {
  font-family: $fuente-secundario;
  font-weight: $fuente-400;
  font-size: $fuente-parrafo;
  line-height: 1.7;
}

.historia__img,
.misionVision__img {
  width: 100%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.245);
}

/* ========== IGUALES 2 ========== */
.equipo__contenedorEncabezado,
.servicios__contenedorEncabezado,
.portafolio__contenedorEncabezado,
.contacto__contenedorEncabezado {
  width: calc(100% - 100px);
  margin: 0 auto;
  text-align: center;
}

.equipo__titulo,
.servicios__titulo,
.portafolio__titulo { 
  font-family: $fuente-secundario;
  font-size: $fuente-titulo;
  margin-bottom: 30px;
  font-weight: $fuente-700;
  color: #000000;
  text-align: center;
}

.equipo__parrafo,
.servicios__parrafo,
.portafolio__parrafo,
.contacto__parrafo{
  width: 85%;
  text-align: center;
  color: #000000;
  font-family: $fuente-secundario;
  font-weight: $fuente-400;
  font-size: $fuente-parrafo;
  line-height: 1.7;
  margin: 0 auto;
}

/* ========== IGUALES 3 ========== */
.clientes,
.equipo,
.servicios,
.portafolio {
  max-width: 1000px;
}

.clientes,
.servicios,
.portafolio,
.contacto {
  margin: 0px auto;
  padding: 60px 0px;
}