/* ================ FUENTES ================ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

/* ================ RESET CSS ================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================ VARIABLES ================ */
/* :root {
    --color-fondo-primario: #0010a3;
    --color-fondo-secundario: #f0c016;
    --color-fondo-terciario: #ffffff;
    --color-texto-primario: #ffffff;
    --color-texto-secundario: #f0c016;
    --color-texto-terciario: #0010a3;
    --color-fondo-gradiente-primario: linear-gradient( 115deg,#000854df, #0010a3d0);
    --color-fondo-prueba: red;
    --color-fondo-transparente: transparent;
    --fuente-principal: 'Roboto', sans-serif;
    --fuente-secundaria: 'Lato', sans-serif;
    --tamaño-fuente-navegacion: 20px;
    --tamaño-fuente-titulo: 30px;
    --tamaño-fuente-btn: 20px;
    --tamaño-fuente-parrafo: 16px;
} */

/* ================ HEADER ================ */
.header {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.header__contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__logo {
    width: 140px;
    height: auto;
}

.header__li {
    list-style: none;
    display: inline-block;
    padding: 0px 0px 0px 30px;
}

.header__link {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.header__link--amarillo {
    color: #f0c016;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 3px solid #f0c016;
}

.header__link:hover {
    text-shadow: 0 0 10px #f0c016;
}

/* ================ PÁGINA PRESENTACIÓN ================ */
.presentacion { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/fondos/presentacion-azul.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.presentacion__contenedor {
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 40%;
}

.presentacion__contenedorIzquierda {
    max-width: 480px;
    min-width: 480px;
    height: auto;
    display: inline-block;
}

.presentacion__contenedorDerecha {
    width: 480px;
    height: auto;
    display: inline-block;
    position: absolute;
    right: 0px;
}

.presentacion__titulo {
    height: auto;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

/* ANIMACION COMENTADO PORQUE NO LO PIDEN */
/* .presentacion__contendorMouse{
    width: 100px;
    position: relative;
    height: 100px;
    background-color: transparent;
    margin: 0 auto;
    top: 80%;
}

.presentacion__mouse {
    display: block;
    position: relative;
    height: 45px;
    width: 25px;
    border-radius: 20px;
    border: 2px solid #fff;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    animation: mouse alternate 0.8s infinite ;
}
   
.presentacion__mouse:after {
    position: absolute;
    border-radius: 2px;
    width: 2px;
    height: 0px;
    content: '';
    background: #fff;
    margin-left: 10px;
    margin-top: 5px;
    animation: mouse-bola alternate 0.8s infinite; 
}
   
@keyframes mouse-bola {
    0% {
        height: 0px;
    }
    100% {
        height: 10px;
    }
}
   
@keyframes mouse {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    100% {
        -webkit-transform: translate(-50%, calc(-50% + 20px));
        transform: translate(-50%, calc(-50% + 20px));
    }
}

.presentacion__scroll {
    position: absolute;
    top: -20px;
    left: -10px;
    font-size: 50px;
    text-align: center;
    opacity: 0;
} */

/* ================ FIN - PÁGINA PRESENTACIÓN ================ */
/* ================ HEADER - FIN ================ */

/* ================ MAIN ================ */
.main {
    margin: 0 auto;
}
/* ================ MAIN - FIN ================ */
/* ================ PÁGINA DE BIENVENIDA ================ */
.bienvenida {
    height: 100vh;
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
}

.bienvenida__izquierda, .bienvenida__derecha {
    width: 40%;
}

/* .bienvenida__izquierda {

}

.bienvenida__derecha {

} */

.bienvenida__titulo {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}

.bienvenida__parrafo {
    width: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    padding-right: 30px;
}

.bienvenida__video {
    width: 100%;
}
/* ================ FIN - PÁGINA DE BIENVENIDA ================ */
/* ================ PÁGINA SUSCRIPCIÓN ================ */
.suscripcion {
    width: 100%;
    height: auto;
    background: url(../assets/img/fondos/suscripcion-azul.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.suscripcion__contenedor {
    height: 300px;
    margin: 0 auto;
    padding-top: 80px;
}

.suscripcion__titulo {
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.suscripcion__form {
    width: 505px;
    margin: 0 auto;
}

.suscripcion__form--email {
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

.suscripcion__form--submit {
    width: 100px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #f0c016;
    font-weight: 500;
}

::placeholder {
    padding: 20px 0px 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
/* ================ FIN - PÁGINA SUSCRIPCIÓN ================ */
/* ================ PÁGINA DE CLIENTES ================ */
.clientes {
    width: 100%;
    height: auto;
    /* background: url(../assets/img/fondos/clientes-amarillo.jpg);  */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.clientes__contenedor {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 40px;
}

.clientes__titulo {
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.clientes__contenedorLogos {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clientes__contenedorLogos--link {
    display: inline-block;
    width: 155px;
}

.clientes__contenedorLogos--img{
    width: 100%;
}
/* ================ FIN - PÁGINA DE CLIENTES ================ */
/* ================ FOOTER ================ */
.footer {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #0010a3;
    z-index: 2;
}

.footer__contenedor {
    margin: 0 auto;
    padding: 1rem 0px 3rem 0px;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer__subir {
    position: absolute;
    right: 1rem;
    top: -25px;
}

.footer__grupoUno, .footer__grupoDos, .footer__grupoTres {
    width: 240px;
    display: inline-block;
} 

.footer__grupoTres {
    width: 470px;
    right: 0px;
}

.footer__titulo {
    margin: 40px 0px 10px 0px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.footer__titulo--cuentas {
    margin: 25px 0px 10px 0px;
}

.footer__li {
    list-style: none;
    line-height: 1.5;
}

.footer__li--espacio {
    margin-top: 33px;
    list-style: none;
    line-height: 1.5;
}

.footer__link {
    text-decoration: none;
    color: #f0c016;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.footer__redesSociales {
    width: auto;
}

.footer__redesSociales--img {
    width: 25px;
    margin-right: 10px;
}

.footer__parrafo {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px ;
}

.footer__form {
    width: 480px;
    height: auto;
}

.footer__form--email {
    width: 390px;
    height: 40px;
}

.footer__form--submit {
    width: 75px;
    height: 40px;
    font-size: 15px;
    background-color: #f0c016;
    color: #0010a3;
    font-weight: 700;
}

.footer__img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #0010a3;
}

/* ================ FIN - FOOTER ================ */